<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base46" version="15.4.0.17" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.Base46" version="15.4.0.17" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.WPF46" version="15.4.0.17" targetFramework="net461" />
</packages>